.stories {
  grid-template-columns: repeat(6,115px);
}

.success_text {
  color: #39b54a;
}

.error_text {
  color: #e90e0e;
}

.box_header{
  border-bottom: 1px solid var(--bg-third);
}

.postBox .small_circle{
  position: absolute;
  right: 16px;
  top: 12px;
}

.post_input{
  outline: none;
  font-family: inherit;
}

.flex_center textarea {
  background: transparent;
  position: absolute;
}

.post_header_right{
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  cursor: pointer;
  border-radius: 50%;
}

.post_submit{
  text-align: center;
  width: 96%;
  margin: 5px 10px;
  padding: 10px;
  outline: none;
  border: none;
  background: var(--blue-color);
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width:1150px) {
 .stories, .create_post,.send_verification {
  width: 84%;
 }
 .home_middle {
  margin-left: 5%;
 }
 .right_home {
  width: 16vw;
 }
}

@media (max-width:950px){
  .left_home .left_link span,
  .left_home .left_link .col,
  .shortcut, .shortcut_item span,
  .splitter, .sc_copyright {
    display: none;
  }
  .left_home {
    width: 70px;
  }
  .left_link {
    background: var(--bg-third);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }
  .left_link img {
    margin-left: 10px;
  }
  .home_middle{
    margin-left: -60px;
  }
  .create_post {
    width: 100%;
  }
  .right_home {
    width: 15vw;
  }
  .contacts-circle {
    width: 50px;
  }
  .stories {
    width: 100%;
  }
}

@media (max-width:940px){
  .create_post {
    width: 84%;
  }
  .stories {
    width: 84%;
  }
  .home_middle {
    margin-left: -40px;
  }
  .right_home {
    width: 20vw;
    left: 75%;
  }
  .contacts-circle {
    width: 80px;
    right: -20px;
  }
  .splitter1 {
    width: 23vw;
  }
  .popup {
    width: 70vw !important;
  }
}